<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Conversor de CNAB</title>
</head>
<body>
    <h1>Conversor de CNAB</h1>
    <h2>Converta um arquivo txt com dados CNAB</h2>
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{form}}
        <br>
        <br>
        <input type="submit" value="Enviar">
    </form>
</body>
</html>